#history {
  height: calc(100% - 25px);
  overflow-y: scroll;
}

.message {
  display: block;
  width: 100%;
  margin: 5px 0px;
}

.message:nth-child(1) {
  margin-top: 10px;
}

.message:nth-last-child(1) {
  margin-bottom: 10px;
}

.message > * {
  display: inline-block;
  margin: 0px 5px;
}

.message > *:nth-child(1) {
  margin-left: 10px;
}

.message > *:nth-last-child(1) {
  margin-right: 10px;
}

.context {
  right: 0px;
  width: 99%;
  height: 40px;
  padding-top: 5px;
  padding-left: 100px;
}